html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 0;
  padding: 0;
  border: unset;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1160px;
  /* padding: 0 40px; */
  margin: 0 auto;
}

.txt-btn {
  width: 298px;
  height: 54px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  background-color: #F9804B;
  border-radius: 25px;
}

.txt-btn a {
  color: white;
}

.txt-btn:hover {
  cursor: pointer;
  background-color: #E47209;
}

.txt-btnactive {
  cursor: pointer;
  background-color: #4B9200;
}

.txt-btn:disabled {
  cursor: pointer;
  background-color: #767474;
}

header {
  background-color: black;
  height: 80px;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  color: white;
}

header .logo {
  width: 82px;
  height: 52px;
  margin-right: 63px;
  border: 1px solid white;
  border-radius: 2px;
}

header .logo h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19.01px;
  line-height: 22.82px;
  text-align: center;
  color: white;
}

header .logo .bamboo {
  position: relative;
  left: 10px;
  bottom: 25px;
}

header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40.5%;
  height: 100%;
  margin-left: -440px;
}

header .header-nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .header-nav .menu__item {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  color: white;
}

header .header-nav .menu__item:hover {
  cursor: pointer;
  color: #FED290;
}

header .header-nav .menu__item_active {
  color: #F9804B;
}

header .header-nav .menu__item_active:hover {
  cursor: default;
  color: #F9804B;
}

header .designed {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  color: white;
}

header .designed:hover {
  cursor: pointer;
  color: #FED290;
}

.watch {
  height: 700px;
  width: 100%;
  background-image: url("../../../assets/images/panda.jpg");
  background-size: cover;
  background-position: bottom;
}

.watch .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 86px 50px 100px 0;
}

.watch .watch-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 100%;
}

.watch .watch-content p {
  position: relative;
  z-index: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 106.5px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.watch .watch-content p span {
  color: #FFEE2E;
}

.watch .watch-content p:before {
  position: absolute;
  bottom: 10px;
  right: 100px;
  z-index: -1;
  content: '';
  width: 465px;
  height: 465px;
  background-color: #F9804B;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */