@import "./mixins";
@import "./variables";

html {
  scroll-behavior: smooth;  
}

* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;    
  padding: 0;
  border: unset;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
}

.no-scroll {    
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.txt-btn {
  width: 298px;
  height: 54px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;  
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;

  a {
    color: white;
  }

  &:hover {
    cursor: pointer;
    background: $orange-hover;
  }

  &:active {
    cursor: pointer;
    background: $green;
  }

  &:disabled {
    cursor: pointer;
    background: $gray;
  }
}

h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: $black-blue;
}

h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: $black-blue;
}

h4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: $black-blue;
}

h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: black;
}


header {
  background-color: black;
  height: 80px;

  .wrapper {
    @include flex(row, space-between);
    height: 80px;
    color: white;
  }

  .logo {
    // position: relative;
    width: 82px;
    height: 52px;    
    margin-right: 63px;
    border: 1px solid white;
    border-radius: 2px;

    h1 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 19.01px;
      line-height: 22.82px;
      text-align: center;
      color: white;
    }

    .bamboo {
      position: relative;
      left: 10px;
      bottom: 25px;
    }
  } 

  .header-nav {
    display: flex;
    align-items: center;
    width: 40.5%;
    height: 100%;
    margin-left: -440px;

    .menu {
      @include flex(row, space-between);
      width: 100%;
    }

    .menu__item{
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 22.4px;   
      color: white;

      &:hover {
        @include menu-hover;
      }
    }

    .menu__item_active {
      color: $orange;

      &:hover {
        cursor: default;
        color: $orange;
      }
    }
  }

  .designed {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;   
    color: white;

    &:hover {
      @include menu-hover;
    }
  }
}


.watch {  
  height: 700px;
  width: 100%;
  background-image: url("../../../assets/images/panda.jpg");
  background-size: cover;
  background-position: bottom;

  .wrapper {
    @include flex(row, flex-end);
    height: 100%;
    padding: 86px 50px 100px 0;
  }

  .watch-content {
    @include flex(column, space-between);
    width: 400px;
    height: 100%;

    p {
      position: relative;
      z-index: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 106.5px;
      line-height: 75%;
      text-align: center;
      text-transform: uppercase;
      color: white;

      span {
        color: $yellow;
      }

      &:before {
        position: absolute;
        bottom: 10px;
        right: 100px;
        z-index: -1;
        content: '';
        width: 465px;
        height: 465px;
        background-color: $orange;
        border-radius: 50%;
      }
    }
  }
}

.backstage {
  position: relative;

  .wrapper {
    @include flex(row, space-between); 
    padding: 140px 0 180px 0;
  }

  .backstage__img {
    width: 53%;
    max-width: 610px;
    height: 403px;
    background-image: url("../../../assets/images/bamboo-cap.jpg");
    background-size: cover;
  }

  .backstage__content {
    @include flex(column, unset); 
    width: 465px;
    height: 403px;
    align-items: baseline;

    h2 {
      margin-bottom: 20px;
    }

    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: $black-blue;
    }
    
    h4 {
      margin: 55px 0 35px 0;
    }
  }
  
  img {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: -1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.pets {
  position: relative;
  height: 1106px;

  .wrapper {
    @include flex(column, space-between); 
    height: 100%;
    padding-bottom: 100px;
  }

  .pets-cards-container {
    @include flex(row, space-between); 
    row-gap: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    height: 872px;
  }

  .pets-card-gradient {
    width: 32%;
    max-width: 366px;
    height: 49%;
    max-height: 426px;
    overflow: hidden;
    padding: 1px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
  }

  .pets-card {
    position: relative;
    @include flex(column, space-between); 
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    
    &:hover {
      cursor: pointer;
    }

    &:hover .pets-card__img {
      transform: scale(106%);
    }

    &:hover .pets-card__img_shadow {
      display: block;
    }

    &:hover .pets-card__text {
      z-index: 3;
      color: aliceblue;
      transform: translateY(-200px);
      transition: 0.5s ease-in-out;
    }

    &:hover .pets-card__text>h5  {
      color: aliceblue;
    }
  }

  .pets-card__img {
    width: 100%;
    height: 366px;
    background-size: cover;
    border-radius: 5px;
  }

  .pets-card__img_shadow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .pets-card__content {
    @include flex(row, space-between); 
    width: 100%;
    height: 60px;
    padding: 8px 13px 14px 16px;
    background-color: white;
  }

  .pets-card__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: black;
  }

  .pets__btn {
    position: absolute;
    top: 36.5%;
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      background: $orange-hover;
    }

    &:active {
      background: $green;
    }
  }

  .pets__btn_left {
    left: 139px;
  }

  .pets__btn_right {
    right: 140px;
  }

  .pets__bg-img_left {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .pets__bg-img_right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.feed {
  padding: 69px 0 100px 0;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;

  .wrapper {
    @include flex(column, baseline);
    position: relative;
    height: 835px;
    padding: 41px 0 59px 0;
  }

  .feed__wrapper-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    opacity: 1;
    border-radius: 20px;
  }

  h2 {
    margin-bottom: 30px;
    color: $orange-h2;
  }

  h4{
    margin: 0 0 40px 99px;
    align-self: baseline;
  }

  p {
    margin: 0 0 10px 99px;
    align-self: baseline;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $black-blue;

    &:nth-child(2n) {
      font-weight: 500;
    }

    a {
      color: $black-blue;
      text-decoration: underline;
      text-decoration-color: $orange-h2;
      text-decoration-thickness: 1px;
    }
  }

  h3 {
    margin: 52px 0 40px 0;
  }

  .feed-cards-container {
    display: grid;
    grid-template-columns: 168px auto 168px auto 168px;    
    width: 100%;
    margin-bottom: 60px;
    padding: 0 198px;
  }

  .feed-card {
    width: 168px;
    height: 244px;

    p {
      width: 100%;
      height: 76px;
      margin: unset;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: $black-blue;
    }
  }

  .feed-card-img{
    @include flex(column, center);
    width: 168px;
    height: 168px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid $orange;
    border-radius: 5px;
  }

  .feed-arrow {
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/icons/feed-arrow.svg");
    background-repeat: no-repeat;
    background-position: 30px 60px;
  }
}